{% extends 'cloneApp/base.html' %}
{% load static %}

{% block title %} Netcoreinfo {% endblock title %}


{% block body %}

<!-- landing page -->

<div class="container-fluid col-xxl-8 px-4 py-5 opacity-100" style="background-image: url(static/cloneApp/images/head.jpg); height: 750px; width: 100%; margin-top: 120px;">
    <div class="container ">
                <h1 class="display-1 align-items-center"  data-aos="fade-right" data-aos-offset="200" style="color: wheat; margin-top: 200px;">
                    <b>Think
                    <span style="color: aqua;">Solution.</span>Think
                    <span style="color: aqua;">Netcoreinfo</span></b></h1>
                <p class="lead " data-aos="fade-left" data-aos-offset="200" style="color: rgb(10, 7, 2);"><span style="color: white;">Transform your OFFLINE Business into an ONLINE presence with NetcoreInfo.</span></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-lg btn-info mt-3">Services</button>
                    <button type="button" class="btn btn-lg btn-primary mt-3">Read More</button>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>


<!-- About Us -->

<!-- <section class="about my-5" >
    <div class="container ">
        <div class="text-center my-5">
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p>
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>About</b> <span style="color:rgb(24, 115, 145);"><b>us</b></span></h1>
            <hr class="w-25 m-auto">
        </div>

        <div class="row shadow-lg p-3 mb-5 bg-white rounded">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="zoom-in" data-aos-offset="200">
                <h2><u>About Company</u></h2>
                <p class="p-2">
                   <h5>NetcoreInfo is a specialized software and web development company based in New Delhi and Noida.
                    Launched in 2010, our goal is to help businesses create optimum performance in the web and IT world,
                    ultimately leading to brand growth and success. We provide complete customized IT solutions tailored
                    to specific areas of need. With our expertise in multiple domains, NetcoreInfo is widely recognized
                    as one of the most reputed and trusted IT services providers.</h5> 
                </p>
                <button type="button" class="btn btn-primary">Know More</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-center" data-aos="fade-left"
                data-aos-offset="200">
                <video class="w3-round-large" width="500" height="400" autoplay loop muted>
                    <source src="static/cloneApp/images/v2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="row mt-5 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-center" data-aos="fade-right"
                data-aos-offset="200">
                <video class="w3-round-large" width="500" height="400" autoplay loop muted>
                    <source src="static/cloneApp/images/v3.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 mt-5" data-aos="zoom-in" data-aos-offset="200">
                <h2><u>Global Connection</u></h2>
                <p class="p-2">
                    <h5>NetcoreInfo works closely to establish businesses in the African and Middle Eastern markets. The
                    targeted companies are jointly involved in providing various systems and solutions to various
                    economic sectors, and they are considered one of the fastest-growing and leading solution provider
                    companies.</h5> </p>
                <button type="button" class="btn btn-primary">Know More</button>
            </div>

        </div>
    </div>
</section> -->


<section class="about my-5" >
    <div class="container ">
        <div class="text-center my-5">
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p>
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>About</b> <span style="color:rgb(24, 115, 145);"><b>us</b></span></h1>
            <hr class="w-25 m-auto">
        </div>
        {% for obj in ABOUT %}
        <div class="row shadow-lg p-3 mb-5 bg-white rounded">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="zoom-in" data-aos-offset="200">
                <h2><u>{{obj.title}}</u></h2>
                <p class="p-2">
                   <h5>{{obj.content}}</h5> 
                </p>
                <button type="button" class="btn btn-primary">Know More</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-center" data-aos="fade-left"
                data-aos-offset="200">
                <!-- <img src="/media/{{obj.}}" alt="think" class="img-fluid img-thumbnail"
                                style="width: 500px; height: 400px;"> -->
                <video class="w3-round-large" width="500" height="400" autoplay loop muted>
                    <source src="/media/{{obj.video}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- closetesing -->

<!-- why netcore-->


<section class="team my-5 text center">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Why <span
                        style="color: rgb(24, 115, 145);">NetcoreInfo..?</span></b></h1>
            <hr class="w-25 m-auto">
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide shadow-lg p-3 mb-5 bg-black rounded"
            data-bs-ride="carousel" data-aos="zoom-in-up" data-aos-offset="200">
            <div class="carousel-inner">
                {% for obj in WhyNETCORE %}
                <div class="carousel-item active ">
                    <div class="row bg-black ">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-center" data-aos="fade-left"
                            data-aos-offset="200">
                            <img src="/media/{{obj.image}}" alt="think" class="img-fluid img-thumbnail"
                                style="width: 450px; height: 350px;">

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="flip-right" data-aos-offset="200">
                            <h2 style="color: palevioletred; padding: 30px;"><b><u>{{obj.title}}</u></b></h2>
                            <p >
                            <h5 style="color: aliceblue;">{{obj.content|safe|truncatechars:250}}</h5>
                            </p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> `
</section>
<!-- close why netcore -->

<!-- Our Involvment -->

<!-- <section class="services py-5 bg-light ">
    
        <div class="text-center my-5">
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p>
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Our <span style="color:rgb(24, 115, 145);">Involvment</span></b></h1>
            <hr class="w-25 m-auto">
        </div>
        <div class="row shadow-lg p-3 mb-5 bg-white rounded" data-aos="zoom-in-up" data-aos-offset="200">
            <div class="col-sm-12 col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div class="card-body">
                        <video class="w3-round-large card-img-top"  autoplay loop muted>
                            <source src="static/cloneApp/images/v4.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <img src="static/cloneApp/images/b4.jpg" class="card-img-top" style="height: 300px;">
                        <h3 class="card-title"><u>Software Development</u></h3>
                        <p class="card-text" style="text-align: justify;">NetcoreInfo offers scalable end-to-end
                            solutions for application development and management, starting from requirements analysis to
                            deployment and rollout. Our expertise includes developing software related to Garment
                            Production Management, Commercial Jobs, Purchasing, and Accounting for Trading,
                            Manufacturing Houses, and Conglomerates. </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 col-12">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <video class="w3-round-large card-img-top"  autoplay loop muted>
                            <source src="static/cloneApp/images/v6.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <img src="static/cloneApp/images/b5.jpg" class="card-img-top" style="height: 300px;">
                        
                        <h4 class="card-title"><u> Network & Infrastructure Services </u></h4>
                        <p class="card-text" style="text-align: justify;">The growth in the market for solution
                            integration (SI) services is driven by the requirement for seamless business processes
                            throughout an organization's entire value chain, involving customers, partners, suppliers,
                            and employees. NetcoreInfo's services empower clients to identify, develop and implement.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 col-12">
                <div class="card bg-primary text-white">
                    <div class="card-body"><video class="w3-round-large card-img-top"  autoplay loop muted>
                        <source src="static/cloneApp/images/v7.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                        <img src="static/cloneApp/images/b6.jpg" class="card-img-top" style="height: 300px;">
                        <h4 class="card-title"><u>Hardware Sales & Support Services</u></h4>
                        <p class="card-text" style="text-align: justify;">We offer servers, computers, computer
                            accessories, and services by sourcing from both local and international markets. If you are
                            concerned about the commitment to service, our team of experts is readily available to serve
                            you. Please feel free to contact us for any of your computer-related requirements, including
                            parts and services. </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 col-12">
                <div class="card ">
                    <div class="card-body">
                        <video class="w3-round-large card-img-top"  autoplay loop muted>
                            <source src="static/cloneApp/images/v5.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                         <img src="static/cloneApp/images/uc.jpg" class="card-img-top" style="height: 300px;"> 
                        <h4 class="card-title"><u>Unified Communications</u></h4>
                        <p class="card-text" style="text-align: justify;">
                            NetcoreInfo offers a range of communication solutions, including instant messaging and email services, using Microsoft Office Communication Server (OCS) 2007. As a unified communication (UC) specialist, we provide products and services such as meeting design and consulting, headsets, video conferencing, telepresence, phones, endpoints, volume discount pricing, consulting.
                        </p>

                    </div>
                </div>
            </div>
        </div>



</section> -->

<!-- testing -->
<section class="services py-5 bg-light ">
    <!-- <div class="container"> -->
        <div class="text-center my-5">
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p>
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Our <span style="color:rgb(24, 115, 145);">Involvment</span></b></h1>
            <hr class="w-25 m-auto">
        </div>
        <div class="row shadow-lg p-3 mb-5 bg-white rounded" data-aos="zoom-in-up" data-aos-offset="200">
            {% for obj in OUR %}
            <div class="col-sm-12 col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div class="card-body bg-primary text-white">
                        <video class="w3-round-large card-img-top"  autoplay loop muted>
                            <source src="/media/{{obj.video}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <!-- <img src="/media/{{obj.image}}" class="card-img-top" style="height: 300px;">  -->
                        <h3 class="card-title"><u>{{obj.title}}</u></h3>
                        <p class="card-text" style="text-align: justify;">{{obj.content}} </p>
                    </div>
                </div>
            </div>
{% endfor %}
        </div>


    <!-- </div> -->
</section>
<!-- closetesing -->

<!-- readout -->
<section class="team my-5 text center">
    <div class="container">
        <div class="text-center my-5">
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p>
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Read Out <span style="color: rgb(24, 115, 145);">latest Blogs</span></b></h1>
            <hr class="w-25 m-auto">
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for obj in popularBLOGS %}
              <div class="carousel-item active">
            <div class="row g-0 shadow-lg p-3 mb-5 rounded" data-aos="flip-right" data-aos-offset="200">
              <div class="col-md-4" style="padding-left: 10px;">
                <img src="/media/{{obj.image}}" width="350px" class="rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" data-aos="fade-up" data-aos-offset="200">
                  <h2 class="card-title" style="color: rgb(24, 115, 145);">{{obj.title}}</h2>
                  <h4 class="card-title" style="color: black; padding-top: 5px;">Article by-<span style="color: palevioletred;">{{obj.author}}</span></h4>
                  <p class="card-text" style="margin-top: 20px;"><h4>{{obj.content|safe|truncatechars:250}}</h4></p>
                  <a href="#" class="btn btn-primary btn-sm">Read More</a>
                  <p class="card-text"><small class="text-body-secondary">Posted Date:{{obj.created_at}}</small></p>
        
                </div>
              </div>
            </div>
            <br>
        </div>
        {% endfor %}
        
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
  </div>

</section>
<!-- close blogs -->



<!-- operations abroad -->
<section class="team  my-5 text center">
    <div class="container">
        <div class="text-center my-5">
            <!-- <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p> -->
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Operations <span style="color:rgb(24, 115, 145);">Abroad</span></b></h1>
            <hr class="w-25 m-auto">
        </div>
        <p class="card-text shadow-lg p-3 mb-5 bg-white rounded" style="text-align: justify;" data-aos="zoom-in-right" data-aos-offset="200">NetcoreInfo
            offers a range of communication solutions, including instant messaging and email services, using Microsoft
            Office Communication Server (OCS) 2007. As a unified communication (UC) specialist, we provide products and
            services such as meeting design and consulting, headsets, video conferencing, telepresence, phones,
            endpoints, volume discount pricing, consulting, hospitality phones, and cloud services.</p>

        <div class="wrapper" data-aos="fade-up" data-aos-offset="200" style="text-align: center;">
            <div class="counter col_third">
                <img src="{% static 'cloneApp/images/country.png' %}" alt="country"
                            class="img-fluid rounded-circle border border-primary p-2">
              <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
               <p class="count-text "><h5 style="color: brown;">+ Country</h5></p>
            </div>
        
            <div class="counter col_third">
                <img src="{% static 'cloneApp/images/emp.png' %}" alt="country"
                            class="img-fluid rounded-circle border border-primary p-2">
              <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
              <p class="count-text"><h5 style="color: brown;">+ Employees</h5></p>
            </div>
        
            <div class="counter .col_third">
                <img src="{% static 'cloneApp/images/project.png' %}" alt="country"
                            class="img-fluid rounded-circle border border-primary p-2">
              <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
              <p class="count-text "><h5 style="color: brown;">+ Running Projects</h5></p>
            </div>
        
        
        </div>
    </div>
</section>


<!-- client -->

<!-- <section class="team my-5 text center">
    <div class="container">
        <div class="text-center my-5">
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p>
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><span style="color:rgb(16, 108, 138);"><b>Testonomial</b></span></h1>
            <hr class="w-25 m-auto">
        </div>


<div id="carouselExampleAutoplaying" class="carousel slide shadow-lg p-3 mb-5 rounded" data-bs-ride="carousel" data-aos="zoom-in-up" data-aos-offset="200">
    <div class="carousel-inner" >
      <div class="carousel-item active " >
        <div class="card border border-secondary mb-2" style="background-color: black;">
            <img src="{% static 'cloneApp/images/woman.png' %}" alt="Riya Verma"
                class="card-img-top w-25 mx-auto bg-light rounded-circle mt-4 " style="max-width: 100px;">
            <div class="card-body" style="height: 260px;">
                <h2 class="card-title font-weight-bold text-primary" style="text-align: center;">Riya Verma - <span style="color: palevioletred;">(Advertising and Marketing Client)</span></h2>
                <p class="card-text text-white"><h4 style="color: white;">We, as advertising and marketing clients of NetcoreInfo, are
                    extremely pleased with their services. They have been very professional, consistent, and
                    reliable in their work. Sachin and his team have always provided us with
                    prompt and efficient support. We highly recommend NetcoreInfo to anyone seeking their
                    expertise.</h4></p>
                    <div class="mt-3 display-6" style="color: goldenrod; text-align: center;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card border border-secondary mb-2"  style="background-color: black;">
            <img src="{% static 'cloneApp/images/young-man.png' %}" alt="Riya Verma"
                class="card-img-top w-25 mx-auto bg-light rounded-circle mt-4" style="max-width: 100px;">
            <div class="card-body" style="height: 260px;">
                <h2 class="card-title font-weight-bold text-primary" style="text-align: center;">Rajeev Shukla -<span style="color: palevioletred;">(Business Man)
                    </span></h2>
                <p class="card-text text-muted"><h4 style="color: white;">We have been working with NetcoreInfo since 2010 on several IT
                    projects. When we decided to develop an iPhone app for our clients' use, we turned again to
                    NetcoreInfo. We have already completed three projects with NetcoreInfo and are delighted
                    with their services.</h4></p>
                    <div class="mt-3 display-6" style="color: goldenrod; text-align: center;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid  fa-star"></i>
                    </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card border border-secondary mb-2" style="background-color: black;">
            <img src="{% static 'cloneApp/images/young-man.png' %}" alt="Riya Verma"
                class="card-img-top w-25 mx-auto bg-light rounded-circle mt-4" style="max-width: 100px;">
            <div class="card-body" style="height: 260px;">
                <h2 class="card-title font-weight-bold text-primary" style="text-align: center;">Saurabh Chilwal - <span style="color: palevioletred;">(Web
                        Developer)</span></h2>
                <p class="card-text text-muted"><h4 style="color: white;">We thank NetcoreInfo for the wonderful job in helping us develop
                    our program. Everyone was professional, excellent and hard working. Thanks to there efforts,
                    we were able to achieve our goal on time, and we look forward to continue working with them
                    in the future.</h4>
                </p>
                <div class="mt-3 display-6" style="color: goldenrod; text-align: center;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card border border-secondary mb-2 bg-black" >
            <img src="{% static 'cloneApp/images/young-man.png' %}" alt="Riya Verma"
                class="card-img-top w-25 mx-auto bg-light rounded-circle mt-4" style="max-width: 100px;">
            <div class="card-body" style="height: 260px;">
                <h2 class="card-title font-weight-bold text-primary" style="text-align: center;">Anil Sharma - <span style="color: palevioletred;">(General
                        Manager)</span></h2>
                <p class="card-text text-muted"><h4 style="color: white;">I am really impressed by the quality of services I received from
                    NetcoreInfo. You were right on schedule, charged reasonable prices, were professional and
                    courteous in dealings, and delivered items well before time. I have got a good e-commerce
                    site for my products.</h4>
                </p>
                <div class="mt-3 display-6" style="color: goldenrod;text-align: center;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>   


</section> -->


<!-- testing -->
<section class="team my-5 text center">
    <div class="container">
        <div class="text-center my-5">
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
              </p>
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><span style="color:rgb(16, 108, 138);"><b>Testonomial</b></span></h1>
            <hr class="w-25 m-auto">
        </div>


<div id="carouselExampleAutoplaying" class="carousel slide shadow-lg p-3 mb-5 rounded" data-bs-ride="carousel" data-aos="zoom-in-up" data-aos-offset="200">
    <div class="carousel-inner" >
        {% for obj in TESTONOMIAL %}
      <div class="carousel-item active " >
        <div class="card border border-secondary mb-2" style="background-color: black;">
            <img src="/media/{{obj.image}}" alt="Riya Verma"
                class="card-img-top w-25 mx-auto bg-light rounded-circle mt-4 " style="max-width: 100px;">
            <div class="card-body" style="height: 260px;">
                <h2 class="card-title font-weight-bold text-primary" style="text-align: center;">{{obj.title}} - <span style="color: palevioletred;">({{obj.subtitle}})</span></h2>
                <p class="card-text text-white"><h4 style="color: white;">{{obj.content}}</h4></p>
                    <div class="mt-3 display-6" style="color: goldenrod; text-align: center;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>   


</section>
<!-- closetesting -->


<!-- logo section start -->
<!-- <section class="more-info-section bg-color more-info-section">
    <section class="container ">
        <div class="container text-center common-title fw-bold">
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Our<span style="color:rgb(16, 108, 138);">Partners</span></b></h1>
            <hr class="w-25 m-auto">
        </div>

        <div class="slider align-items-center">
            <div class="slide-track mb-5  me-4 align-items-center justify-content-center">

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/inspire.png' %}" alt="inspire"
                            class="img-fluid img-thumbnail border rounded custom-image" style="padding: 20px;">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary " role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/acce.png' %}" alt="acce"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/hcl.png' %}" alt="hcl"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/acer.png' %}"
                            alt="acer" class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/jindal.png' %}" alt="jindal"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/jindal2.png' %}" alt="jindal2"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/hind.png' %}" alt="hind"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/birla.png' %}" 
                            alt="Birla" class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/inspire.png' %}" alt="inspire"
                            class="img-fluid img-thumbnail border rounded custom-image" style="padding: 20px;">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary " role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/acce.png' %}" alt="acce"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/hcl.png' %}"  alt="hcl"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/acer.png' %}" 
                            alt="acer" class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/jindal.png' %}" alt="jindal"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/jindal2.png' %}" alt="jindal2"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/hind.png' %}"  alt="hind"
                            class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="{% static 'cloneApp/images/birla.png' %}" 
                            alt="Birla" class="img-fluid img-thumbnail border rounded custom-image">
                    </a>
                </div>

            </div>
        </div>
    </section>
</section> -->

<!-- testing -->
<section class="more-info-section bg-color more-info-section">
    <div class="container ">
        <div class="container text-center common-title fw-bold">
            <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Our<span style="color:rgb(16, 108, 138);">Partners</span></b></h1>
            <hr class="w-25 m-auto">
        </div>
        <div class="slider align-items-center">
            <div class="slide-track mb-5  me-4 align-items-center justify-content-center">
                {% for obj in LOGO %}

                <div class="ms-3 pt-5 pb-5" data-aos="flip-right" data-aos-offset="200">
                    <a href="#" class="btn btn-secondary" role="button" data-bs-toggle="button">
                        <img src="/media/{{obj.image}}" alt="inspire"
                            class="img-fluid img-thumbnail border rounded custom-image" style="padding: 20px; width: 200px;">
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!-- endtesting -->



<!-- testing -->
<!-- <section class="services py-5 bg-light ">
    
    <div class="text-center my-5">
        <p class="placeholder-glow">
            <span class="placeholder col-12"></span>
          </p>
        <h1 class="display-2" data-aos="fade-up" data-aos-offset="200"><b>Our <span style="color:rgb(24, 115, 145);">Involvment</span></b></h1>
        <hr class="w-25 m-auto">
    </div>
    <div class="row shadow-lg p-3 mb-5 bg-white rounded" data-aos="zoom-in-up" data-aos-offset="200">
        {% for obj in LANDING %}
        <div class="col-sm-12 col-md-4 col-lg-3 col-12">
            <div class="card">
                <div class="card-body">
                    <video class="w3-round-large card-img-top"  autoplay loop muted>
                        <source src="/media/{{obj.video}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <img src="static/cloneApp/images/b4.jpg" class="card-img-top" style="height: 300px;">
                    <h3 class="card-title"><u>{{obj.title}}</u></h3>
                    <p class="card-text" style="text-align: justify;">{{obj.content}} </p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



</section> -->
<!-- closetesing -->

<!-- partner -->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="margin-top: 100px;" >
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="{% static 'cloneApp/images/ft3.jpg'%}" class="d-block w-100" data-aos="zoom-in-up" data-aos-offset="200" alt="..." style="height: 500px;">
            <div class="carousel-caption d-none d-md-block">
                <div class="row vh-100 justify-content-center align-items-center">
                    <div class="col-12 text-center" style="padding-top: 300px;">
                        <div class="text-center fs-1 fw-bolder" data-aos="flip-right" data-aos-offset="200"><h1>Become a Partner.....</h1></div>
                         <hr class="w-25 m-auto">
                        <p class="mt-5 fs-3 "data-aos="flip-right" data-aos-offset="200">"Don't miss out on a priceless opportunity to become a partner with NetcoreInfo!" </p>
                        <div>
                            <button type="button" class="btn btn-primary mt-3">Hello, Partner</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p>
</div>


    {% endblock body %}